<div class="footy">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        Header<br>
        One of three columns<br> One of three columns<br> One of three columns<br> One of three columns
      </div>
      <div class="col-sm">
        Header<br>
        One of three columns<br> One of three columns<br> One of three columns<br> One of three columns
      </div>
      <div class="col-sm">
        Header<br>
        One of three columns<br> One of three columns<br> One of three columns<br> One of three columns
      </div>
      <div class="col-sm">
        Header<br>
        One of three columns<br> One of three columns<br> One of three columns<br> One of three columns
      </div>
    </div>
  </div>
</div>