<div class="bodyy ">
  <p class="col-xs-12" style="font-size: 30px"> Popular events in Lagos</p>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="text-align: left; width: 20rem;">
          <p><img src="./assets/images/cat.jpg" width="319px" height="150px"></p>
          <p style="padding-left: 5px;">TUE, NOV 28 8:00 AM</p>
          <b> <p style="padding-left: 5px;" class="thick">SPLENDID SUMMIT</p> </b>
          <p style="padding-left: 5px;">lagos</p>
          <hr>
          <p style="padding-left: 5px;">#fun #commerce</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="text-align: left; width: 20rem;">
          <p><img src="./assets/images/cat.jpg" width="319px" height="150px"></p>
          <p>TUE, NOV 28 8:00 AM</p>
          <b> <p>SPLENDID SUMMIT</p> </b>
          <p>lagos</p>
          <hr>
          <p>#fun #commerce</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="text-align: left; width: 20rem;">
          <p><img src="./assets/images/cat.jpg" width="319px" height="150px"></p>
          <p>TUE, NOV 28 8:00 AM</p>
          <b> <p>SPLENDID SUMMIT</p> </b>
          <p>lagos</p>
          <hr>
          <p>#fun #commerce</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm">
        <div class="card" style="text-align: left; width: 20rem;">
          <p><img src="./assets/images/cat.jpg" width="319px" height="150px"></p>
          <p>TUE, NOV 28 8:00 AM</p>
          <b> <p>SPLENDID SUMMIT</p> </b>
          <p>lagos</p>
          <hr>
          <p>#fun #commerce</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="text-align: left; width: 20rem;">
          <p><img src="./assets/images/cat.jpg" width="319px" height="150px"></p>
          <p>TUE, NOV 28 8:00 AM</p>
          <b> <p>SPLENDID SUMMIT</p> </b>
          <p>lagos</p>
          <hr>
          <p>#fun #commerce</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="text-align: left; width: 20rem;">
          <p><img src="./assets/images/cat.jpg" width="319px" height="150px"></p>
          <p>TUE, NOV 28 8:00 AM</p>
          <b> <p>SPLENDID SUMMIT</p> </b>
          <p>lagos</p>
          <hr>
          <p>#fun #commerce</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm">
       <button type="submit" class="btn" style="background-color: white; color: black; border: 1px solid black">SEE MORE</button>
      </div>
    </div>
  </div>
</div>
