 <div class="cat"> 
   <p style="font-size: 30px">Browse by Top Categories</p>
   <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Search events or categories">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="City or Location">
      </div>
   
      
  </div>
  <br>
   <div class="row">
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Search events or categories">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="City or Location">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="City or Location">
      </div>
   
      
  </div>
  <br>
   <div class="row">
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Search events or categories">
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="City or Location">
      </div>
   
      
  </div>
  
  </div>
 </div>