<div class="search">
  <p style="font-size: 30px">Find your next experience</p>

  <!--<form>
  
  <div class="row">
    
    <div class="col-xs-12">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col-xs-12">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
    <div class="col-xs-12">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
    <div class="col-xs-12">
      <input type="submit" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>-->



  <div class="container">
    <div class="row">
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Search events or categories">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="City or Location">
      </div>
      <div class="col-sm form-group">

        
        <select id="inputState" class="form-control">
        <option selected>All Dates </option>
        <option>Today</option>
        <option>Tomorrow</option>
        <option>This Week</option>
        <option>This Weekend</option>
        <option>Next Week</option>
        <option>Next Month</option>
      </select>
        
      </div>
      
  </div>
  <div class="row">
    <div class="col-sm">
       <button type="submit" class="btn" style="background-color: black; color: white">SEARCH</button>
      </div>
    </div>
  </div>

</div>
